

body {
    font-family: "Open Sans", serif;
}

.header{
    background: #fff8f3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.color {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.navTittle {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.btn1 {
    border-radius: 5px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    background: #fff8f3;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-tittle0{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;

}
.banner-tittle{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
}
.banner-content{
    max-width: 500px;
}

.proPic{
    width: 500px;
}

.about{
    padding: 130px;
    background-color: #fff8f3;
    border-radius: 10px;
    margin: 130px 0;
}

.section-tittle{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-paragraph{
    columns: #757575;
    text-align: center;
    font-size: 18px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
    /* color: red; */
}

.about-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}


/* What I do section styles */

.what-i-do {}

.skill-container {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.skills {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill-tittle {
    color: #181818;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;

}

.skill-description {
    font-size: 16px;
    color: #757575;

}

/* Resume section styles */

.resume-contents {
    display: flex;
    gap: 24px;
}

.resume-section-tittle {
    margin-top: 130px;
    font-size: 30px;
    font-weight: 700;
    columns: #474747;
}

.resume-section-subtittle {
    margin-top: 30px;
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resume-section-sub-subtittle {
    margin-bottom: 20px;
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.resume-section-details {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

/* .experiences1, .experiences2, .education1, .education2{
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 30px;
} */

hr {
    margin-top: 30px;
}

.resume-button {
    margin-top: 50px;
    text-align: center;
}

/* contract section styles */

.contract {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}

.contract-tittle {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 28px;
}

.contract-description {
    font-size: 16px;
    color: #474747;
}

.contract input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 18px 30px;
}

input {
    height: 64px;

}

.img img {
    margin-right: 24px;
    margin-top: 30px;
}

a {
    text-decoration: none;
}